<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="vue-datepicker-local.css">
    <style media="screen">
      *{
        font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
      }
      code{
        display: inline-block;
        padding: 10px;
        color: #2973b7;
        background: #f8f8f8;
        margin-bottom: 10px;
        border-radius: 6px;
      }
      code i{
        color: #ccc
      }
    </style>
  </head>
  <body>
    <h2>Base data</h2>
    <pre>
      <code class="javascript">
        new Vue({
          el: '#app',
          data: {
            time: new Date(),
            range: [new Date(),new Date()],
            emptyTime: '',
            emptyRange: [],
            local: {
              dow: 0, // Sunday is the first day of the week
              hourTip: 'Select Hour', // tip of select hour
              minuteTip: 'Select Minute', // tip of select minute
              secondTip: 'Select Second', // tip of select second
              yearSuffix: '', // suffix of head year
              monthsHead: 'January_February_March_April_May_June_July_August_September_October_November_December'.split('_'), // months of head
              months: 'Jan_Feb_Mar_Apr_May_Jun_Jul_Aug_Sep_Oct_Nov_Dec'.split('_'), // months of panel
              weeks: 'Su_Mo_Tu_We_Th_Fr_Sa'.split('_') // weeks,
              cancelTip: 'cancel',
              submitTip: 'confirm'
            }
          },
          methods: {
            //disable the weekend
            disabledDate (time) {
              var day = time.getDay();
              return day === 0 || day === 6;
            }
          }
        })
      </code>
    </pre>
    <div id="app" style="margin-bottom:300px">
      <h3 id="default">Default</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot;&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time"></vue-datepicker-local>
      <h3 id="year">Year</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot; format=&quot;YYYY&quot;&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time" format="YYYY"></vue-datepicker-local>
      <h3 id="month">Month</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot; format=&quot;YYYY-MM&quot;&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time" format="YYYY-MM"></vue-datepicker-local>
      <h3 id="time">Time</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot; format=&quot;YYYY-MM-DD HH:mm:ss&quot;&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time" format="YYYY-MM-DD HH:mm:ss"></vue-datepicker-local>
      <h3 id="disabled">Disabled</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot; disabled&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time" disabled></vue-datepicker-local>
      <h3 id="clearable">Clearable</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;emptyTime&quot; clearable&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="emptyTime" clearable></vue-datepicker-local><br>
      <code>&lt;vue-datepicker-local v-model=&quot;emptyRange&quot; clearable&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="emptyRange" clearable></vue-datepicker-local>
      <h3 id="range">Range</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;range&quot;&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="range"></vue-datepicker-local>
      <h3 id="rangeSeparator">Range Separator </h3>
      <code>&lt;vue-datepicker-local v-model=&quot;range&quot; range-separator=&quot;至&quot;&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="range" range-separator="至"></vue-datepicker-local>
      <h3 id="disableddate">disabledDate</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot; :disabled-date=&quot;disabledDate&quot; &gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time" :disabled-date="disabledDate" ></vue-datepicker-local>
      <h3 id="local">Local</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot; :local=&quot;local&quot;&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time" :local="local" format="YYYY-MM-DD HH:mm:ss"></vue-datepicker-local>
      <h3 id="inlineMode">Inline Mode</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot; type=&quot;inline&quot;&gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time" type="inline"></vue-datepicker-local>
      <h3 id="showButtons">Show Buttons</h3>
      <code>&lt;vue-datepicker-local v-model=&quot;time&quot; @confirm=&quot;confirm&quot; show-buttons &gt;&lt;/vue-datepicker-local&gt;</code><br>
      <vue-datepicker-local v-model="time" @confirm="confirm" show-buttons></vue-datepicker-local>
    </div>
    <script src="highlight.js" charset="utf-8"></script>
    <script src="vue.min.js" charset="utf-8"></script>
    <script src="vue-datepicker-local.js" charset="utf-8"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
      new Vue({
        el: '#app',
        data: {
          time: new Date(),
          range: [new Date(),new Date()],
          emptyTime: '',
          emptyRange: [],
          local: {
            dow: 0, // Sunday is the first day of the week
            hourTip: 'Select Hour', // tip of select hour
            minuteTip: 'Select Minute', // tip of select minute
            secondTip: 'Select Second', // tip of select second
            yearSuffix: '', // suffix of head
            monthsHead: 'January_February_March_April_May_June_July_August_September_October_November_December'.split('_'), // months of head
            months: 'Jan_Feb_Mar_Apr_May_Jun_Jul_Aug_Sep_Oct_Nov_Dec'.split('_'), // months of panel
            weeks: 'Su_Mo_Tu_We_Th_Fr_Sa'.split('_'), // weeks
            cancelTip: 'cancel',
            submitTip: 'confirm'
          }
        },
        methods: {
          //disable the weekend
          disabledDate: function (time) {
            var day = time.getDay();
            return day === 0 || day === 6;
          },
          confirm: function (time) {
            alert(time)
          }
        }
      })
    </script>
  </body>
</html>
